<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ori.treasurehunt">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>v

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:versionName="0.6"
        android:theme="@style/AppTheme"
        android:name="com.treasurehunt.AnalyticsApplication">
        <activity
            android:name="com.treasurehunt.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.treasurehunt.MainGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name="com.treasurehunt.WinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noActionBar.popUp" />
        <activity android:name="com.treasurehunt.TutorialActivity">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cc84bb8e95ec0cb75f7345c5bde3b667661a1b8d" />
        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
    </application>

</manifest>